html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiDivider-root {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
