.centeredText {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.centeredHeader {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tripTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
